.MuiDrawer-root{width:100px;}

*{margin:0;padding:0;}

.wrap{}
.header{display:flex;justify-content:space-between;position:fixed;top:0;left:400px;padding:50px 20px 40px;width:calc(100% - 420px);z-index:1;
  h1{size:32px;color:#fff;}
}